.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.word-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.word-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.word-box {
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  text-align: center;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.word-box.grey {
  background-color: #eee;
  color: #555;
}

.word-box.yellow {
  background-color: #ffeb3b;
  color: #555;
}

.word-box.green {
  background-color: #9ada9d;
  color: #555;
}

.button {
  background-color: #4CAF50;
  border: 2px solid transparent; /* added so the border when hovered doesnt shunt the other components from resizing */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

h1 {
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #4CAF50;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}